body {
    font-family: "Poppins", Arial, sans-serif;
    margin: 0;
    padding: 0;
    background: url(/images/uni.jpg) no-repeat center top;
    background-size: cover;
    font-family: sans-serif;
    height: 100vh;
}

